<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../css/mycss.css' />
    <style>

    </style>
  </head>
  <body>
    <%- include('../navigator/nav_lv1') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id ='container'>

    </div>
  </body>
</html>