<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='../../css/mycss.css' />
  </head>
  <body>
    <%- include('./navigator') %>
    <h1>Updated Trailling Fee</h1>
    <p>
      <form action="/trailingFee/updated" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
      </form>
  </p>
  </body>
</html>