<!DOCTYPE html>
<html>
    <head>
        <title>Report Tree</title>
    </head>
    <body>
        <h1>All Reports</h1>
        <div>
            <ul>
                <li>
                    Account Team.(เอ๋)
                    <ul>
                        <li><a href="./report/amc/SCB">SCB Report.</a></li>
                        <li><a href="./report/amc/KSAM">KSAM Report.</a></li>
                        <li><a href="./report/amc/KTAM">KTAM Report.</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </body>
</html>