<div >
    <ul class="nav">
        <li class="nav"><a href="/transactions/list">Home</a></li>
        <li class="nav"><a href="/announcement/">ประกาศบริษัท</a></li>
        <li class="nav"><a href="/transactions/list">Performance</a></li>
        <li class="nav"><a href="/">Log Out</a></li>
    </ul>
</div>